$theme-colors: (
  "primary": #227447
);



@import "~bootstrap/scss/bootstrap";

.caption {
  border-radius: 50px;
  width: 100vw;
  background-color: rgba(map-get($theme-colors, "dark" ), 0.7);
  font-size: 1.5rem;
  padding: 15px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 0.2rem solid white;
  width: 33%
}

hr.left{
  margin-right: 0%;
}

hr.right{
  margin-right: 100%;
}