$theme-colors: (
  "primary": #227447
);



@import "~bootstrap/scss/bootstrap";

.caption {
  border-radius: 50px;
  width: 100vw;
  background-color: rgba(map-get($theme-colors, "dark" ), 0.7);
  font-size: 1.5rem;
  padding: 15px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 0.2rem solid white;
  width: 33%
}

hr.left{
  margin-right: 0%;
}

hr.right{
  margin-right: 100%;
}

@media (min-width: 992px) {
  .saiba-mais {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 80px;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    font-weight: bolder;
    color: map-get($theme-colors, "light");
    height: 20px;
    z-index: 10;
}

.saiba-mais:after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url(https://github.com/ZehCoque/excel-classes/blob/master/public/icons/double_arrow_white_48dp.svg);
  height: 20px;
  width: 20px;
  top: 20px;
  cursor: pointer;
}
}
