$theme-colors: (
  "primary": #227447
);

@import "~bootstrap/scss/bootstrap";

.caption {
  border-radius: 50px;
  width: 100vw;
  background-color: rgba(map-get($theme-colors, "dark" ), 0.7);
  font-size: x-large;
}

.caption p {
  padding: 0 15px;
}